body{
    background-image: url(/assets/piggy-79420b2eb41dbad7b10cab1902e9809fdeb0b2e5637da9ba0339394c82874891.gif); 
    background-size: cover;
   background-repeat: no-repeat;
   background-position: absolute;
  
}

.siguiente{
  z-index: 0;
  right: 130px;
  bottom: 120px;
  position: absolute;
}



.morado {    
  width: 200px; 
  height: 200px; 
  background-color: #89017E;;
  margin: 100px 0px 34px 550px;
  border-radius: 5px;
}

.azul {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  background: #2962FF;
  margin: -250px 40px 50px 900px; 
}

.rojo {  
  width: 300px; 
  height: 200px; 
  border: 3px solid #D50000;
  background: #D50000;
  margin: 30px 30px  10px 550px; 
  border-radius: 5px;
}
.amarillo {
     width: 150px; 
     height: 150px;
     border-radius: 5px solid #FFFF00; 
     background: #FFFF00;
     -webkit-transform: rotate(45deg) skew(15deg, 15deg);
     transform: rotate(45deg) skew(15deg, 15deg);
     margin: -415px 60px  80px 1200px;  
}

.verde{
     width: 250px;
     height: 100px;
     border-radius: 0 50% / 0 100%;
     background: #76FF03;
     border: 3px solid #76FF03;
     margin: 55px 60px  90px 1000px;
}




.siguiente:hover{
   margin: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; 
}
 .morado:hover {
  box-shadow: 0 0 10px 5px #311B92;
}

.verde:hover {
  box-shadow: 0 0 10px 5px #76FF03;
}

.rojo:hover {
  box-shadow: 0 0 10px 5px #D50000;
}

.amarillo:hover {
  box-shadow: 0 0 10px 5px #FFFF00;
}

.azul:hover {
  box-shadow: 0 0 10px 5px #2962FF;
}

