

<div class="fondo_inicio contenedor">
</div>

<div class="contenedor edukids">
	<h1 id="edukidstitulo">EduKids</h1>
	<div class="divider"></div>
	<p id="edukidsparrafo">Edukis es una aplicaci칩n web dise침ada para hacer parte de la educaci칩n de los ni침os del mundo moderno.</p>
	<div class="social">                
		<a href="" ><i class="fa fa-facebook"></i></a>
        <a href="" ><i class="fa fa-twitter"></i></a>
        <a href="" ><i class="fa fa-youtube"></i></a>                
	</div>
</div>


<div class="footer">
<footer>
 <label>Todos los derechos reservados |  Agosto - 2016</label>
 </div>
