<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacer esto a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fue usted, por favor ignore este mensaje.</p>
<p>La contraseña no se cambiará hasta que acceda al enlace de arriba y cree una nueva.</p>
